@charset "utf-8";

body {
  width: 100%;
}
.wrapper {
  width: 400px;
}
.redbox {
  height: 100px;
  background: #ff0000;
}
.greenbox {
  float: left;
  width: 150px;
  height: 250px;
  background: #00ff1e;
}
.bluebox {
  float: left;
  width: 250px;
  height: 250px;
  background: #3300ff;
}
.yellowbox {
  height: 100px;
  background: #ffe600;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
